*.class

# Package Files #
*.jar
*.war
*.ear
/ProjetoInterdisciplinarII_bkp/ProjetoInterdisciplinarII-ejb/dist/
/ProjetoInterdisciplinarII_bkp/ProjetoInterdisciplinarII-war/dist/
/EmpresaApp/nbproject/private/
/ProjetoInterdisciplinarII_bkp/nbproject/private/
/EmpresaApp/build/
/ProjetoInterdisciplinarII_bkp/dist/
/ProjetoInterdisciplinarII_bkp/build/
/ProjetoInterdisciplinarII_bkp/ProjetoInterdisciplinarII-ejb/nbproject/private/
/ProjetoInterdisciplinarII_bkp/ProjetoInterdisciplinarII-war/build/
/ProjetoInterdisciplinarII_bkp/ProjetoInterdisciplinarII-ejb/build/